* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ed9121;
  font-family: Sans-Serif;
}
#container {
  width: 80%;
  margin-inline: auto;
}
#hero {
  margin: 20px auto;
  color: #fff8f0;
  height: 100svh;

  & p {
    font-size: 1.2rem;
  }
}
h1 {
  font-size: 1.5rem;
}
#form-label {
  color: #402e32;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.2rem;
}
#signup-form {
  padding: 15px 20px;
  margin: 20px auto;
  border: 1px solid #eee;
  background-color: #fff8f0;
}
.hidden {
  display: none;
}
form label {
  font-size: 0.8rem;
}
input:not(#next) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #402e32;
  background-color: #fff;
  margin: 0 0 10px 0;
  padding: 5px 7px;
  font-size: 0.9rem;
  width: 100%;
}
/* #button {
  display: flex;
  gap: 20px;
} */
#next {
  width: 100%;
  padding: 8px 30px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  font-weight: bold;
  background-color: #217ded;
  color: #fefefe;
  transition: all 0.1s ease-in;
  margin: 0 0 10px 0;
}
#next:hover {
  background-color: #64a4f2;
  cursor: pointer;
}
#next:focus {
  transform: scale(0.9);
}
form > p,
#button > p,
a:not(#login) {
  font-size: 0.7rem;
  color: #402e32;
}
#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 0 0 0;
  gap: 20px;
}
#options p {
  font-size: 0.9rem;
  color: #402e32;
  font-weight: bold;
}
#options p a {
  color: #402e32;
}
.social {
  display: flex;
  /* justify-content: space-around; */
  gap: 10px;
}
.icon {
  border: 1px solid black;
  flex-basis: 100%;
  transition: all 0.2s;

  & img {
    width: 24px;
  }
}
/* .icon:hover {
  background-color: rgba(237, 145, 33, 0.5);
  cursor: pointer;
} */
.icon > img {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  margin: 3px 0;
}
a:hover {
  cursor: pointer;
}
@media (min-width: 481px) {
  #container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  #hero,
  #signup-form {
    margin: 0;
  }
  #hero {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #signup-form {
    width: 350px;
  }
}
