* {
  padding: 0;
  margin: 0;
}
:root {
  --accent-clr: hsl(33, 85%, 53%);
  --complement-clr: hsl(213, 85%, 53%);
  --neutral-clr-100: hsl(0, 0%, 100%);
  --neutral-clr-200: hsl(32, 100%, 97%);
  --neutral-clr-300: hsl(35, 20%, 90%);
  --neutral-clr-500: hsl(0, 1%, 40%);
  --neutral-clr-900: hsl(347, 16%, 22%);
  --font-family: "Plus Jakarta Sans", sans-serif;
}
p,
h1,
label,
input {
  font-family: var(--font-family);
}
body {
  background: var(--accent-clr);
  display: grid;
  place-items: center;
  height: 100svh;
  height: 100vh;
}
#container {
  width: 80%;
  min-width: 350px;
}
/* #hero {
  margin: 20px auto;
  color: #fff8f0;
  height: 100svh;

  & p {
    font-size: 1.2rem;
  }
} */
h1 {
  font-size: 1.5rem;
}
#form-title {
  color: var(--neutral-clr-900);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
#form-wrapper {
  display: grid;
  gap: 24px;
  padding: 16px;
  margin-inline: auto;
  background-color: var(--neutral-clr-200);
}
.hidden {
  display: none;
}
.input-wrapper {
  display: grid;
  gap: 1rem;

  & > div {
    display: grid;
    gap: 4px;
  }
}
#form-wrapper label {
  font-size: 0.8rem;
  color: hsl(0, 1%, 40%);
}
#form-wrapper input:not(#next-button) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  outline: none;
  border: 1px solid var(--neutral-clr-300);
  background-color: var(--neutral-clr-100);
  /* margin: 0 0 10px 0; */
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
}
#button-wrapper :is(p, a) {
  font-size: 0.8rem;
  color: var(--neutral-clr-500);
}
#next-button {
  width: 100%;
  padding: 8px 30px;
  font-size: 1rem;
  outline: none;
  border: none;
  font-weight: 700;
  background-color: var(--complement-clr);
  color: var(--neutral-clr-200);
  transition: all 0.1s ease-in;
  margin: 24px 0 8px;
}
#next-button:hover {
  background-color: hsl(213, 85%, 67%);
  cursor: pointer;
}
#next-button:focus {
  transform: scale(0.9);
}
.or-separator {
  position: relative;
  color: hsl(0, 1%, 40%);
}
.or-separator::before,
.or-separator::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 1px;
  display: block;
  background: var(--neutral-clr-300);
  top: 50%;
  transform: translateY(-50%);
}
.or-separator::after {
  left: 55%;
}
.or-separator::before {
  right: 55%;
}
#social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.social-signup {
  display: flex;
  gap: 10px;
}
.icon {
  /* border: 1px solid hsl(35, 20%, 83%); */
  background: var(--neutral-clr-300);
  flex-basis: 100%;
  padding: 12px;
  transition: all 0.2s;

  & img {
    width: 20px;
    height: 20px;
  }
}
.icon:hover {
  background-color: hsla(33, 85%, 53%, 0.5);
}
a:hover {
  cursor: pointer;
}
@media (min-width: 481px) {
  /* #hero,
  #form-wrapper {
    margin: 0;
  } */
  /* #hero {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  #form-wrapper {
    width: 350px;
    margin: 0 auto;
  }
}
